body {
  width: 100vw;
  height: 100vh;
}

#root {
  width: 100%;
  height: 100%;
  /*background-color: coral;*/
}

.app-layout {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}


.read-the-docs {
  color: #888;
  font-size: 0.8rem;
}

.btn {
  color: whitesmoke;
  background-color: #b04fff;
  font-family: "Montserrat", sans-serif;
  /*text-transform: uppercase;*/
  text-decoration: none;
  font-size: 1.5rem;
  margin: 1rem;
  padding: 0.5rem;
  border: 2px solid #e5dc15;
  border-radius: 0.5rem;
  position: relative;
  top: 0;
  transition: all 200ms ease-in-out;
  box-shadow: 0 0.6em #c2bb11, 0 0.9em rgba(113, 167, 232, 0.4);
}

.btn:hover {
  cursor: pointer;
  background: #e5dc15;
  color: rgb(113, 167, 232);
}

.btn.b-1:hover {
  top: 0.2em;
  box-shadow: 0 0.4em #c2bb11, 0 0.7em rgba(113, 167, 232, 0.4);
}

.btn.b-1:active {
  top: 0.4em;
  box-shadow: 0 0.2em #c2bb11, 0 0.5em rgba(113, 167, 232, 0.4);
}